<%- include('base') -%>
<body>
    <form style=" background-color: #eee; padding:5%; border-radius:5px;" method="POST">

        <div style="width: 100%;justify-content: center; align-items: center; text-align: center;"><h1>Editing Item </h1></div>
     
        <div class="form-group">
        <label for="username">Item Name</label>
        <input type="text" class="form-control" id="item_name" aria-describedby="emailHelp" name="item_name" value="<%= data[0].item_name %>" required>
    </div>
    <div class="form-group">
        <label for="password">Item Category</label>
        <input type="text" class="form-control" id="item_category" aria-describedby="emailHelp" placeholder="Enter password" value="<%= data[0].item_category %>" name="item_category" required>
    </div>
    <div class="row">
        <div class="col">
            <label for="fname">Item Quantity</label>
            <input type="text" class="form-control" id="item_quantity" aria-describedby="emailHelp" placeholder="Enter first name" value="<%= data[0].item_quantity %>"   name="item_quantity" required>
        </div>
        <div class="col">
            <label for="lname">Item Price</label>
            <input type="number" class="form-control" id="item_price" aria-describedby="emailHelp" placeholder="Enter lastname" value="<%= data[0].item_price %>"   name="item_price" required>
        </div>
    </div>
    <!-- Allows user to create account (username, password, first name,
last name, contact number, email) -->

    <button type="submit" class="btn btn-primary w-100">Update Item</button>
      </form>

</div>
</body>